.idea/*
*.iml
Section_2_Testing_RabbitMQ_installation/.idea/*
Section_2_Testing_RabbitMQ_installation/section2-producer/.idea/*
Section_2_Testing_RabbitMQ_installation/section2-producer/target/*
Section_2_Testing_RabbitMQ_installation/section2-consumer/.idea/*
Section_2_Testing_RabbitMQ_installation/section2-consumer/target/*
Section_3_Send_messages_to_users_and_topics/.idea/*
Section_3_Send_messages_to_users_and_topics/target/*

